<div class="main-container">
  <div class="region region-header">
    <section id="block-santander-header-banner">
      <div class="page-header">
        <div class="container onecol">
          <div class="row inner">
            <div class="header-main">
              <div class="brackets">
                <div class="b-top-left"></div>
                <div class="b-top-right"></div>
                <div class="b-bottom-right"></div>
                <div class="b-bottom-left"></div>
              </div>
              <h1>{{ header }}</h1>
              <h2 class="field-name-field-subhead">{{ subHeader }}</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="bumper"></div>

  <div class="region region-content">
    <div id="block-system-main">
      <div class="container">
        <div id="node-226" class="node-terms">

        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <img src="../assets/img/footer.png" alt="Simple Personal Fair | What a bank should be">
</footer>
