.page-header {
  background-image: url("../assets/img/Santander_123_current_account_.jpg");
  height: 560px;
  margin-bottom: 60px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 3.438em; /* Footer height */
}

.page-footer {
  text-align: center;
  height: 3.438em;
  line-height: normal;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right,#ec0000 0,#bc2218 50%,#ec0000 100%);
}

.page-footer img {
  margin-top: 17px;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 42pt;
}

/* HEADER */

.page-header .container {
  bottom: -41px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom,rgba(255,255,255,0.9) 0%,white 100%);
}

.page-header .container .row {
  margin: 0;
}

.page-header .inner {
  padding: 5% 5% 0 5%;
}

.page-header .header-main {
  padding: 26px;
  position: relative;
}

.page-header .brackets .b-top-left {
  position: absolute;
  z-index: 1;
  width: 45px;
  height: 45px;
  border: 12px solid #EC0000;

  top: -18px;
  left: -18px;
  border-right: 0;
  border-bottom: 0;
}

.page-header .brackets .b-top-right {
    position: absolute;
    z-index: 1;
    width: 45px;
    height: 45px;
    border: 12px solid #EC0000;

    top: -18px;
    right: -18px;
    border-left: 0;
    border-bottom: 0;
}

.page-header .brackets .b-bottom-right {
    position: absolute;
    z-index: 1;
    width: 45px;
    height: 45px;
    border: 12px solid #EC0000;

    bottom: -18px;
    right: -18px;
    border-left: 0;
    border-top: 0;
}

.page-header .brackets .b-bottom-left {
    position: absolute;
    z-index: 1;
    width: 45px;
    height: 45px;
    border: 12px solid #EC0000;

    bottom: -18px;
    left: -18px;
    border-right: 0;
    border-top: 0;
}

.page-header h1 {
  color: #333333;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.page-header .field-name-field-subhead {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8pt 0;
    padding: 0;
    font-weight: 400;
}

/* CONTENT */

.bumper {
  margin-bottom: 100px;
}

#node-226 {
  margin-top: 40px;
}

.node-terms {
  margin-top: 40px;
  padding: 40px 80px 80px;
  background-color: #F0F0F0;
  border-bottom: 5px solid #d1d1d1;
  margin: 0 auto 30px;
}

.text {
  padding: 40px 45px;
  background-color: #FFFFFF;
}

.text ul {
  list-style-type: square;
  padding-left: 0px;
}

.text ul li {
  list-style-position: inside;
  margin-bottom: 0.5em;
  font-size: 12pt;
}
