/* You can add global styles to this file, and also import other style files */
* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  color: #333333;
}

p {
  margin: 0 0 8pt;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 8pt;
}

a {
    color: #EC0000;
    text-decoration: none;
}
